
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
    /* Hauteur du pied de page */
}

footer {
    position: absolute;
    bottom: 0;
    /* on le colle en bas */
    width: 100%;
    background-color: rgb(211, 211, 211);
}

img.d-inline-block.align-text-center{
    position:relative;
    bottom: 1px;
}

 

div.collapse.navbar-collapse#navbarSupportedContent {
    position: relative;
    left: 1em
}
@media (max-width:991px) {
    a.btn.btn-outline-secondary {
        position: relative;
        left: 0.9em;
    }
    
}

@media (min-width:992px) {
    div.collapse.navbar-collapse#navbarSupportedContent {
        left : -1em;
        
    }

}