html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
    /* Hauteur du pied de page */
}

footer {
    position: absolute;
    bottom: 0;
    /* on le colle en bas */
    width: 100%;
}

img.d-inline-block.align-text-center {
    position: relative;
    bottom: 1px;
}

a.nav-link:hover {
    color: white;
}

a.nav-link {
    color: var(--bs-secondary);
    font-weight: 600;
}



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem var(--bs-white);
}

div.collapse.navbar-collapse#navbarSupportedContent {
    position: relative;
    left: 1em
}

@media (max-width:991px) {
    a.btn.btn-outline-secondary {
        position: relative;
        left: 0.9em;
    }

}

@media (min-width:992px) {
    div.collapse.navbar-collapse#navbarSupportedContent {
        left: -1em;

    }

}

div.mask {
    background-color: rgba(0, 0, 0, 0.8);
}

#intro {
    background-image: url("../assets/1\ \(4\).jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

.mask {
    height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}

div#see-more {
    background-color: #a30b3615;
}